body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(dark-honeycomb/dark-honeycomb.png);
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.page-container {
    width: 100%;
    font-size: 24px;
}

.page-title {
    margin: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    color: #a04242;
}

.menu-container {
    width: 100%;
    background-color: #a04242;
    border-top: 2px solid #5f0e0e;
    border-bottom: 2px solid #5f0e0e;
    position: sticky;
    top: 0;
}

.menu-container {
    width: 100%;
    text-align: center;
    height: 32px;
    background-color: #a04242;
    padding: 5px;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.menu-item {
    float: left;
    width: 330px;
    border-left: 2px dashed rgba(39, 39, 39, 0.95);
}

.menu-item:last-child {
    border-right: 2px dashed rgba(39, 39, 39, 0.95);
}

.content {
    width: 998px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: white;
}

.content-title {
    font-size: 28px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

footer {
    width: 100%;
    background-color: #a04242;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    border-top: 2px solid #5f0e0e;
}

